<div class="list-container">
  <h2>Provincias de España</h2>

  <p-table
    [value]="provinces()"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [scrollable]="true"
    scrollHeight="400px"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
    [loading]="loading()">
    <ng-template pTemplate="caption">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h3 style="margin: 0">Lista de Provincias</h3>
        <div>
          <i class="pi pi-map-marker" style="margin-right: 0.5rem"></i>
          <span>Total: {{ totalProvinces() }} provincias</span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Provincia <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="community">COMUNIDAD <p-sortIcon field="community"></p-sortIcon></th>
        <th pSortableColumn="capital">Capital <p-sortIcon field="capital"></p-sortIcon></th>
        <th style="width: 5rem">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-province>
      <tr [pSelectableRow]="province" style="cursor: pointer">
        <td>{{ province.name }}</td>
        <td>{{ province.community }}</td>
        <td>{{ province.capital }}</td>
        <td>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger p-button-rounded p-button-text"
            (click)="deleteProvince($event, province.id)"
            pTooltip="Eliminar provincia"
            tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" style="text-align: center">No se encontraron provincias.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
