<div class="list-container">
  <h2>Provincias de España</h2>

  <p-table
    [value]="provinces()"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [scrollable]="true"
    scrollHeight="400px"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
    [loading]="loading()">
    <ng-template pTemplate="caption">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h3 style="margin: 0">Lista de Provincias</h3>
        <div>
          <i class="pi pi-map-marker" style="margin-right: 0.5rem"></i>
          <span>Total: {{ totalProvinces() }} provincias</span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="NOMBRE_PROVINCIA">
          Provincia <p-sortIcon field="NOMBRE_PROVINCIA"></p-sortIcon>
        </th>
        <th pSortableColumn="COMUNIDAD_CIUDAD_AUTONOMA">
          COMUNIDAD <p-sortIcon field="COMUNIDAD_CIUDAD_AUTONOMA"></p-sortIcon>
        </th>
        <th pSortableColumn="CAPITAL_PROVINCIA">
          Capital <p-sortIcon field="CAPITAL_PROVINCIA"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-province>
      <tr [pSelectableRow]="province" style="cursor: pointer">
        <td>{{ province.NOMBRE_PROVINCIA }}</td>
        <td>{{ province.COMUNIDAD_CIUDAD_AUTONOMA }}</td>
        <td>{{ province.CAPITAL_PROVINCIA }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" style="text-align: center">No se encontraron provincias.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
